<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="container">
      <h1>Excited to have you register with us.</h1>
      <p>
        Welcome to Clash, <strong><%= name %></strong>. Let the community decide
        your next choice.
      </p>
      <br />
      <p>Good to have you with us.</p>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
